<launch>
	<arg name="pkg_name" value="joy_mapper"/>
	<arg name="node_name" default="joy_mapper_node"/>
		
	<node pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" clear_params="true" required="true">
		<rosparam command="load" file="$(find joy_mapper)/config/joy_mapper_node.yaml"/>
	</node>	
</launch>