<?xml version="1.0" ?>
<launch>
  <include  file="$(find dagu_car)/launch/car_base.launch"/>
  <include  file="$(find pi_camera)/launch/isam_pi_camera.launch"/>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" > 
    <param name="port" value="/dev/ttyACM0" />
<!--     <param name="baud" value="9600" /> -->
  </node> 

  <node name="car_control" pkg="dagu_car" type="car_control.py" respawn="false" output="screen" />
  
  <!--<node name="pure_pursuit_action_server" pkg="action_server" type="pure_pursuit_action_server.py" respawn="false" output="screen" >
    <param name="action_state" value="0" />
  </node>-->

</launch>
